.holder-form {
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;


    .col {
        width: 60%;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 30px;
        }
    }


}